<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


<!-- Animated Searchbar -->
<ion-searchbar animated></ion-searchbar>
<!----------------------->
<div id="tarjeta">
  <ion-card>
    <ion-card-header>
      <div id="imagen">
    
        <img src="../../assets/restaurante1.png" alt="" srcset="">
      
      </div>
      <ion-card-subtitle>Restaurante</ion-card-subtitle>
      <ion-card-title>Vips</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      A solo 20 minutos de distancia 
    </ion-card-content>
  </ion-card>
</div>

<div id="tarjeta">
  <ion-card>
    <ion-card-header>
      <div id="imagen">
    
        <img src="../../assets/restaurante2.png" alt="" srcset="">
      
      </div>
      <ion-card-subtitle>Restaurante</ion-card-subtitle>
      <ion-card-title>Mc Donalds</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      A solo 5 minutos de distancia 
    </ion-card-content>
  </ion-card>
</div>
<div id="tarjeta">
  <ion-card>
    <ion-card-header>
      <div id="imagen">
    
        <img src="../../assets/restaurante3.png" alt="" srcset="">
      
      </div>
      <ion-card-subtitle>Restaurante</ion-card-subtitle>
      <ion-card-title>Jhon Ham´s</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      A solo 30 minutos de distancia 
    </ion-card-content>
  </ion-card>
</div>


</ion-content>
